<html>
{% load staticfiles %}
 <head>
   <title>SignUp Form</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
 <body background='{% static 'birds.gif' %}'>
   <center><h1  style='margin-left:100px;'><u>If you are a new user, please signup !</u></h1></center>
   <hr>
    <form method='post'>
      <center>
      <table>
    {% for field in form %}
      <tr>
        <th>{{field.label_tag}}</th>
        <td>
          {{ field.errors }}
          {{ field }}
        </td>
      </tr>
    {% endfor %}
  </table>
<br>
  {% csrf_token %}
<button style='background-color:orange; color:white; height:40px; width:100px; margin-left:100px;'>Submit</button
  </center>

    </form>
  </body>
</html>
