<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Your Cart Items</h2>
<table>
  {% if request.session.basket %}
  <tr>
    <th>Product</th>
    <th>Quantity</th>
  </tr>
  {% for key,val in request.session.basket.items %}
  <tr>
    <td>{{val.item}}</td>
    <td>{{val.quantity}}</td>
  </tr>
  {% endfor %}
  {% endif %}
</table>

</body>
</html>
